@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'ABChanel Corpo'; 
  src: url('./assets/fonts/ABChanel-Corpo-Semi-Bold.ttf') format('truetype');
  font-weight: 600; 
  font-style: normal;
}