@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'ABChanel Corpo'; 
  src: url('./assets/fonts/ABChanel-Corpo-Semi-Bold.ttf') format('truetype');
  font-weight: 600; 
  font-style: normal;
}


/* Цей клас ми будемо динамічно додавати і прибирати */
.scroll-snap-enabled {
    @apply snap-y snap-proximity;
}